@model MP_TS_SHOP_.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserFaceBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserFaceBook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserTweeter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTweeter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserInstagram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserInstagram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAbout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAbout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>

    @using (Html.BeginForm(@*"Delete", "Users", FormMethod.Post*@)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
